@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}
h1 {
  font-size: 50px;
  font-family: 'Encode Sans SC';
  margin-bottom: 20px;
}
.App form {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.39);
  margin-bottom: 30px;
}
.App input {
  line-height: 20px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 400px;
  padding: 0 20px;
}
.App input:focus {
  outline: none;
}
.App button {
  line-height: 40px;
  border: none;
  background-color: #f6f6f6;
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
